.App {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  display: inline-block;


}



.movieswrper {
  display: grid;
  gap: 50px;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 280px;
  grid-auto-rows: 280px;
  grid-auto-columns: 180px;
  grid-auto-flow: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
  height: auto;
  position: relative;
  top: 25%;
}

span.loadingpage {
  display: inline-block;
  padding: 80px 0 0 0;
  grid-column: 1/end;
  grid-row: 1/2;
  width: auto;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(136, 201, 166);
  text-shadow: 5px 5px 5px rgb(196, 186, 101);
}










/* *** */