:root {
  --page-bg: #F6F6F6;
  --section-bg-color: #FFFFFF;
  --section-bgtypeone-color: #f3f3ee;
  --hoverC: red;
  /* border: 5px solid red; */
  height: 100%;
}

#root {
  /* border: 5px solid rgb(38, 6, 177); */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--page-bg);
}

html {
  position: relative;
  height: 100%;
  /* border: 5px solid rgb(26, 177, 6); */
  /* min-height: 500vh; */
}

body {
  /* margin-bottom: 160px !important;  */
  /* display: block; */
  /* border: 5px solid rgb(177, 109, 6); */
  padding: 0;
  margin: 0;
  min-height: 500vh;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  /* Set the fixed height of the footer here */
}

.App {
  /* border: 4px solid rgb(150, 255, 13); */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}