.composed {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(170px, 1fr)); */
  /* align-self: flex-end; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: var(--section-bg-color);
  /* border: 2px solid rgb(20, 212, 36); */
  /* min-height: 890px; */
  /* flex: 2; */
}

.sectionHeading {
  /* display: none; */
}

.ComDiv.Flex {}

.ComDiv.Grid {}