*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

/*-------------------- THE SimpleDiv SELECTOR SECTION -------------------- */
.SimpleDiv {
  display: block;
  width: 100%;
  align-self: center;
  padding: 0 0 0 0;
  height: auto;
  margin: auto;
  /* background-color: var(--section-bg-color); */
  /* border: 2px solid rgb(0, 0, 0); */
  /* max-width: 1250px; */
  /* border: 1px solid red; */
  /* max-width: 100%; */
}

.SimpleDiv.Grid {
  /* width: 1250px; */
  /* flex: 1; */
  display: flex;
  margin: 30px 0 0 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.SimpleDiv.Grid>.sectionHeading {
  /* border: 2px solid rgb(5, 189, 67); */
  width: 100%;
  /* align-self: center; */
  margin: 20px 0 0 0;
}

.SimpleDiv.Flex {
  margin: 30px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.SimpleDiv.Flex>.sectionHeading {
  /* border: 2px solid rgb(5, 189, 67); */
  align-self: center;
  width: 100%;
  padding: 0 110px;
  margin: 20px 0 0 0;
}

.SimpleDiv.Flex img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.SimpleDiv.FlexCompo {
  height: auto;
  width: auto;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.SimpleDiv.GridCompo {
  display: inline-block;
  width: auto;
  margin: 0 20px 0 0;
  /* margin-right: 20px; */
  /* height: auto;
   */

  /* min-height: 900px; */
  /* margin: 0 20px 0 0; */
}

/*-------------------- THE End SimpleDiv SELECTOR SECTION -------------------- */

/*-------------------- THE sectionContainer SELECTOR SECTION -------------------- */
.sectionContainer {
  position: relative;
  width: auto;
  /* border: 2px solid red; */
  /* background: var(--section-bg-color); */
  /* background-image: url("./rom.jpg"); */

  /* height: auto;
  width: auto; */
  max-width: 1250px;
  align-self: center;
}

.sectionContainer.GridSimple,
.sectionContainer.Grid {
  /* left: 60px; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, max-content)); */
  display: grid;
  grid-template-columns: repeat(auto-fill, max-content);
  grid-template-rows: 170px 170px;
  width: auto;
  max-width: 1250px;
  height: auto;
  padding: 2px;
  margin: 0 0 30px 0;
  grid-gap: 1rem;
}

.sectionContainer.FlexSimple,
.sectionContainer.Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0 100px;
}

.sectionContainer.GridCompo {
  display: grid;
  grid-template-columns: repeat(3, 245px);
  grid-template-rows: repeat(auto-fill, 1fr);
  width: auto;
  /* max-width: 625px; */
  height: 100%;
  padding: 0;
  margin: 0 0;
  grid-gap: 1rem;
}

.sectionContainer.FlexCompo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  /* max-width: 600px; */
  height: auto;
  padding: 0;

  margin: 0;
}

/*-------------------- THE End sectionContainer SELECTOR SECTION -------------------- */

/*-------------------- THE  FlexSImple SELECTOR  SECTION -------------------- */

.news.FlexSimple,
.news.Flex {
  min-height: 320px;
  height: auto;
  width: 400px;
  margin: 0 10px;
  padding: 0;
}

.news.FlexSimple>img,
/*    ---------------------//////                  ALTERNATED  */
.news.Flex>img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 67%;
  z-index: -1;
}

.news.Flex .desc>* {
  color: rgb(0, 0, 0);
}

/*-------------------- THE end  FlexSImple SELECTOR  SECTION -------------------- */

/*-------------------- THE   GridSImple SELECTOR  SECTION -------------------- */
.news.Grid>img,
.news.GridSimple>img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.news.Grid.new0 {
  grid-column: 1/3;
  grid-row: 1 / 3;
}

.news.Grid.new1 {
  grid-column: 3/ 4;
  grid-row: 1 /2;
}

.news.Grid.new2 {
  grid-column: 4/5;
  grid-row: 1 /2;
}

.news.Grid.new3 {
  grid-column: 3/ 4;
  grid-row: 2 / 3;
}

.news.Grid.new4 {
  grid-column: 4/5;
  grid-row: 2 / 3;
}

.news.Grid.new0 .desc {}

.news.Grid.new0 .desc>p {
  font-size: 0.8rem;
}

.news.Grid.new0 .desc>a {
  text-transform: uppercase;
  font-size: 1rem;
}

.sectionHeading.Grid {
  /* background: rgb(61, 180, 13); */
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  height: 30px;
  width: 100%;
  /* position: absolute; */
  /* max-width: 1250px; */
}

/*-------------------- THE end  GridSImple SELECTOR  SECTION -------------------- */

/*-------------------- THE   GridCompo SELECTOR  SECTION -------------------- */

.news.GridCompo.new0 {
  grid-column: 1/4;
  grid-row: 1 / 2;
}

.news.GridCompo.new1 {
  grid-column: 1/ 2;
  grid-row: 3/5;
}

.news.GridCompo.new2 {
  grid-column: 2/3;
  grid-row: 3/5;
}

.news.GridCompo.new3 {
  grid-column: 3/ 4;
  grid-row: 3/5;
}

.news.Grid,
.news.GridCompo {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.news.GridCompo>img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.news.GridCompo.GCD>img {
  /* display: block; */
  /* pointer-events: none; */

  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*-------------------- THE end  GridCompo SELECTOR  SECTION -------------------- */

/*-------------------- THE   FlexCompo SELECTOR  SECTION -------------------- */
.news.FlexCompo>img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sectionHeading.FlexCompo {
  background: red;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

.news.FlexCompo {
  margin: 0;
  padding: 0;
  height: 140px;
}

/*-------------------- THE END  FlexCompo SELECTOR  SECTION -------------------- */

/*-------------------- THE  SHARED  SECTION -------------------- */

.news {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  color: #000;
  text-shadow: #fff;
  z-index: 10;
  text-transform: capitalize;
  text-decoration: none;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.news:hover {
  text-transform: capitalize;
  text-decoration: none;
}

.GCD {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.desc a:hover {
  color: rgb(255, 255, 255);
}

/* standard version */

.news.Grid>.desc,
.news.Flex>.desc,
.news.FlexCompo>.desc,
.news.GridCompo>.desc {
  position: relative;
  top: calc(100% - 100px);
  left: 2%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.desc>* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: clip;
}

.desc>h3 {
  font-size: 1.5rem;
  font-weight: 580;
}

.desc>p {
  font-size: 10px;
  margin: 5px 0;
}

.sectionHeading {
  /* position: relative; */
  /* left: 20px; */
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0;
  width: 100%;
  max-width: 1250px;
}

.tag {}

.tag::before {
  color: red;
  content: "|";
  padding: 0 5px;
}

/*-------------------- THE  END SHARED  SECTION -------------------- */

/*-------------------- THE  MEDIA RESPONSIVNESS  SECTION -------------------- */

/*
@media only screen and (max-width: 800px) {
  div.sectionContainer.Grid {
     grid-template-columns: 2px 300px 300px 2px;
    grid-template-rows: 170px 170px; 

    grid-auto-rows: 170px;
    
    margin: 0 0px;
  }

  a.news.Grid.new0 {
    grid-column: 2/4;
    grid-row: 1 / 3;
  }

  a.news.Grid.new1 {
    grid-column: 2/ 3;
    grid-row: 3 /4;
  }

  a.news.Grid.new2 {
    grid-column: 3/ 4;
    grid-row: 3 /4;
  }

  a.news.Grid.new3 {
    grid-column: 2/3;
    grid-row: 4 / 5;
  }

  a.news.Grid.new4 {
    grid-column: 3/4;
    grid-row: 4 / 5;
  }
  a.news.Flex {
    min-height: 320px;
    height: auto;
    width: 300px;
    margin: 0 10px;
    padding: 0;
  }
  div.sectionContainer.Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}*/