/*-------------------- THE SimpleDiv SELECTOR SECTION -------------------- */

.SimpleDiv {
  /* border: 1px solid rgb(0, 0, 0); */
  display: block;
  width: auto;
  max-width: 1250px;
  height: auto;
  padding: 0 0 0 0;
  margin: auto;
  /* max-width: 100%; */
}

.SimpleDiv.Grid {
  /* display: block;
  width: 1250px; */
  flex: 1;
  margin: 30px 0 0 0;
}
.SimpleDiv.Flex {
  margin: 30px 0;
  flex: 1;
}

.SimpleDiv.FlexCompo {
  /* border: 2px solid rgb(255, 88, 11); */
  height: auto;
  width: auto;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}
.SimpleDiv.GridCompo {
  display: inline-block;
  width: auto;
  /* min-height: 900px; */
  height: auto;
  margin-right: 20px;
  /* border: 5px solid rgb(11, 255, 161); */
  /* margin: 0 20px 0 0; */
}
/*-------------------- THE End SimpleDiv SELECTOR SECTION -------------------- */
/*-------------------- THE sectionContainer SELECTOR SECTION -------------------- */
.sectionContainer {
  position: relative;
  /* background: var(--section-bg-color); */
  /* background-image: url("./rom.jpg"); */
  /* border: 1px solid yellow; */
  /* height: auto;
  width: auto; */
}

/*-------------------- THE End SimpleDiv SELECTOR SECTION -------------------- */

.sectionContainer.GridSimple,
.sectionContainer.Grid {
  /* left: 60px; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, max-content)); */
  display: grid;
  grid-template-columns: repeat(auto-fill, max-content);
  grid-template-rows: 170px 170px;
  width: 100%;
  height: auto;
  padding: 2px;
  margin: 0 0;
  grid-gap: 1rem;
}

.sectionContainer.GridCompo {
  display: grid;
  grid-template-columns: repeat(3, 245px);
  grid-template-rows: repeat(auto-fill, 1fr);
  width: auto;
  /* max-width: 625px; */
  height: 100%;
  padding: 0;
  margin: 0 0;
  grid-gap: 1rem;
  /* border: 1px solid red; */
}

.sectionContainer.FlexSimple,
.sectionContainer.Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 100px;
}

.sectionContainer.FlexCompo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  /* max-width: 600px; */
  height: auto;
  padding: 0;
  /* border: 1px solid red; */
  margin: 0;
}

.news {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  color: #000;
  text-shadow: #fff;
  z-index: 10;
  text-transform: capitalize;
  text-decoration: none;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.news.GridCompo.new0 {
  grid-column: 1/4;
  grid-row: 1 / 2;
}

.news.GridCompo.new1 {
  grid-column: 1/ 2;
  grid-row: 3/5;
}

.news.GridCompo.new2 {
  grid-column: 2/3;
  grid-row: 3/5;
}

.news.GridCompo.new3 {
  grid-column: 3/ 4;
  grid-row: 3/5;
}

/* .upGrid {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
} */
.news.FlexSimple,
.news.Flex {
  min-height: 320px;
  height: auto;
  width: 400px;
  margin: 0 10px;
  padding: 0;
}

.news.FlexCompo {
  margin: 0;
  padding: 0;
  height: 140px;
  /* border: 2px solid green; */
}

/* ------------- */
.news.Grid,
.news.GridCompo {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  /* border: 2px solid rgb(13, 199, 13); */
}

.news.GridCompo.GCD.news0 {
}
.GCD {
  /* border: 2px solid red; */
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.news.GridCompo.GCD > img {
  /* display: block; */
  /* pointer-events: none; */
  /* border: 5px solid rgb(17, 0, 255); */
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ------------- */

.news.Grid.new0 {
  grid-column: 1/3;
  grid-row: 1 / 3;
}

.news.Grid.new1 {
  grid-column: 3/ 4;
  grid-row: 1 /2;
}

.news.Grid.new2 {
  grid-column: 4/5;
  grid-row: 1 /2;
}

.news.Grid.new3 {
  grid-column: 3/ 4;
  grid-row: 2 / 3;
}

.news.Grid.new4 {
  grid-column: 4/5;
  grid-row: 2 / 3;
}

.news.FlexSimple > img,   /*    ---------------------//////                  ALTERNATED  */
.news.Flex > img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 67%;
  z-index: -1;
}

.news.FlexCompo > img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.news.Grid > img,
.news.GridSimple > img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* border: 4px solid green; */
}

.news.GridCompo > img {
  /* display: block; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* border: 1px solid green; */
}

.news:hover {
  text-transform: capitalize;
  text-decoration: none;
}

/* description inside the picture */

/* when inside a grid section */
.news.Grid.new0 .desc {
}

.news.Grid.new0 .desc > p {
  font-size: 0.8rem;
}
.news.Grid.new0 .desc > a {
  text-transform: uppercase;
  font-size: 1rem;
}

.desc a:hover {
  color: rgb(255, 255, 255);
}

/* standard version */

.news.Grid > .desc,
.news.Flex > .desc,
.news.FlexCompo > .desc,
.news.GridCompo > .desc {
  position: relative;
  top: calc(100% - 100px);
  left: 2%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.desc > * {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: clip;
}
.desc > h3 {
  font-size: 1.5rem;
  font-weight: 580;
}
.desc > p {
  font-size: 10px;
  margin: 5px 0;
}

/* in flex */
.news.Flex .desc > * {
  color: rgb(0, 0, 0);
}

/* .news > a,
h2,
p {
  z-index: 12;
  color: red;
  position: relative;
  top: 55%;
} */

/* here require fixing the framing of SimpleDiv container with heading & sectionContainer  */
.sectionHeading {
  /* position: relative; */
  /* left: 20px; */
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0;
  width: 100%;
  /* border: 1px solid red; */
}
.sectionHeading.FlexCompo {
  background: red;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
.sectionHeading.GridCompo {
}

.tag {
}

.tag::before {
  color: red;
  content: "|";
  padding: 0 5px;
}

/*
@media only screen and (max-width: 800px) {
  div.sectionContainer.Grid {
     grid-template-columns: 2px 300px 300px 2px;
    grid-template-rows: 170px 170px; 

    grid-auto-rows: 170px;
    /* border: 1px solid rgb(24, 193, 202); 
    margin: 0 0px;
  }

  a.news.Grid.new0 {
    grid-column: 2/4;
    grid-row: 1 / 3;
  }

  a.news.Grid.new1 {
    grid-column: 2/ 3;
    grid-row: 3 /4;
  }

  a.news.Grid.new2 {
    grid-column: 3/ 4;
    grid-row: 3 /4;
  }

  a.news.Grid.new3 {
    grid-column: 2/3;
    grid-row: 4 / 5;
  }

  a.news.Grid.new4 {
    grid-column: 3/4;
    grid-row: 4 / 5;
  }
  a.news.Flex {
    min-height: 320px;
    height: auto;
    width: 300px;
    margin: 0 10px;
    padding: 0;
  }
  div.sectionContainer.Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}*/
